
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}

/*font-family: 'Noticia Text', serif;
font-family: 'Open Sans', sans-serif;*/

/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{

    font-family: 'Open Sans', sans-serif;

    color: #545454;

    font-size: 16px;

    background-color: #fff;

}

a{

    text-decoration: none;
}





/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/

.wrapper{

    margin: 0 auto;

    width: 960px;

}

.margin-top{

    margin-top: 30px;

}

.margin-bottom{

    margin-bottom: 30px;

}
/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

header h1{

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: 'Noticia Text', serif;

    font-weight: 400;

    font-size: 33px;

    text-transform: uppercase;

    color: #98c647;
}

/*header h1 img{

}
*/

nav.principale ul{

    display: flex;

    justify-content: space-between;

    list-style: none;
}

nav.principale ul li{

    flex-grow: 1;
}

nav.principale a{

    display: flex;
    justify-content: center;

    text-transform: uppercase;

    font: bold 12px 'Open Sans', sans-serif;

    color: #666;
}

nav.principale a:hover{

    color: #98c647;

    background-color: #f4f4f4;
}

 section.hero{

     display: flex;

     align-items: flex-start;
 }

 section.hero img{

     width: 33.3333%;
 }

 section.info{

     display: flex;

     justify-content: space-between;
 }

 section.info article{

     width: 250px;
 }

 section.info article h2{

     font: bold 18px 'Open Sans', sans-serif;

     color: #98c647;
 }

 section.info article p{

     font: 400 12px 'Open Sans', sans-serif;

 }

 footer{

     background-color: #f4f4f4;
 }

 .pieddepage{

     display: flex;

     justify-content: space-between;
 }

 .pieddepage p{

     font: 400 12px 'Open Sans', sans-serif;
 }

nav.secondaire{

    width: 125px;

    height: 35px;
}

 nav.secondaire ul{

     display: flex;

     justify-content: space-between;

     list-style: none;
 }